## 2. Fibonacci series

In [3]:
n = int(input('Enter the number:'))
first = 0
second = 1

for i in range(n):
    print(first)
    temp = first
    first = second
    second = temp + second

Enter the number:10
0
1
1
2
3
5
8
13
21
34

## 3.	Write an iterator class to iterate over a sequence of values in the reverse direction

In [35]:
a = [11, 22, 32, 42, 55, 62, 73, 84, 96, 10]

reversed_list = a[::-1]
b = [i + 10 for i in reversed_list]
print(b)

[20, 106, 94, 83, 72, 65, 52, 42, 32, 21]

## 4. Write a function “salary” that takes in base pay, HRA and special allowance as arguments and returns the sum of all the 3 salary elements. Then create a decorator function to add an additional element “Tax” (30% of base pay) and assign it back to base pay variable, and return the function (i.e., the final calculation of salary also includes tax)

In [4]:
def salary(base_pay, HRA, special_allowance):
     b = base_pay + HRA + special_allowance
     return b

salary(10, 10, 10)

30

In [13]:
 def func(add):
        def Tax(base_pay, HRA, special_allowance):
            tax = (30/100) * base_pay
            base_pay = tax
            return add(base_pay, HRA, special_allowance)
        return Tax
    
Tax(10, 10, 10)

3.0

## 5. Write 3 examples on possible methods to changing a tuple

In [14]:
tuple1 = (1, 2, 3, 4)
type(tuple1)

tuple

In [19]:
tuple2 = tuple1[1:]
tuple2

(2, 3, 4)

In [33]:
a = list(tuple2) 
a[1] = 2
print(a)

[2, 2, 4]